<h2>
	<%= fb_profile_pic @user %>
	<% if !@items.empty? %>
		<%= link_to (fb_name(@user, :capitalize=>true, :use_you=>true, :reflexive=>true, 
												:possessive=>true, :show_network=>true)), 
								my_items_items_path, :class=>"user_name" %> Items:
	<% else %>
		You currently have no items posted. Click <%= link_to "here", new_item_path %> to add some.
	<% end %>
</h2>
<br/><br/>
<div id="user_item_list">
	<% if !@items.empty? %>
		<% for item in @items %>
			<div>
				<div class="user_item_indent">
					<div class="user_item">
						<div class="user_item_header">
							<%= link_to item.title, (item_path(item) unless item.title.nil?), :class=>"user_item_title" %>
							<% if !item.comments_count.nil? %>
									<span class="user_item_comments">
										<% if item.comments_count == 1 %>
											<%= item.comments_count %> comment
										<% else %>
											<%= item.comments_count %> comments
										<% end %>
									</span>
							<% end %>
						</div>
						<div class="item_post_time">
							<% if item.updated? %>
								updated
							<% else %>
								posted
							<% end %>
							<%= item.item_display_time() %>
						</div>
					
					</div>
					<div class="fbcontentdivider"/>
				</div>
			</div>
		<% end %>

		<!-- Page Navigation -->
		<ul class="paginate">
			<span class="new_button"><%= link_to "Add New Item", new_item_path %></span>
			<span class="paginator"><%= will_paginate @items %></span>
		</ul>
		<!-- /Page Navigation -->

	<% end %>
</div>