<h2>
	<%= fb_profile_pic @user %>
	<%= fb_name @user, 	:possessive=>true, :use_you=>true, :reflexive=>true, :capitalize=>true, 
						:linked=>true, :show_network=>true %> Items:
</h2>
</br>
<div id="user_item_list">
	<% for item in @items %>
		<div>
			<div class="user_item_indent">
				<div class="user_item">
					<div class="user_item_header">
					<span>
						<%= link_to item.title, (item_path(item) unless item.title.nil?), :class=>"user_item_title" %>
					</span>
					<% if !item.comments_count.nil? %>
						<% if item.comments_count == 1 %>
							<span class="user_item_price"><%= item.comments_count %> comment</span>
						<% else %>
							<span class="user_item_price"><%= item.comments_count %> comments</span>
						<% end %>
					<% end %>
					</div>
					<div class="item_post_time">
						posted <%= item.created_at.strftime('%l:%M %p') %>
						on <%= item.created_at.strftime('%B %d, %Y') %>
					</div>
					
				</div>
				<div class="fbcontentdivider"/>
			</div>
		</div>
	<% end %>
</div>