<div class="item">
	<div class="item_images">
		<div><%= image_tag("440547952_7642bf5f93_o.jpg", :class=>"item_main_image", :alt=>"Item Image") %></div>
		<div>
			<%= image_tag("1191912115_708025fb55_b.jpg", :class=>"item_thumb") %>
			<%= image_tag("423913431_86349d58e9_b.jpg", :class=>"item_thumb") %>
			<%= image_tag("760627298_dabb430719_o.jpg", :class=>"item_thumb") %>
		</div>
	</div>
	<div class="item_indent">
		<div class="item_info">
			<table class="item_header">
				<tbody>
					<tr>
						<td class="item_title"><%= @item.title %></td>
						<td class="item_price"><%= @item.price %></td>
					</tr>
				</tbody>
			</table>
			</br>
			<div class="item_desc"><%= @item.description %></div>
		</div>
		
		<div>
			<% if @item.user == current_user %>
				<%= link_to "Edit", edit_item_path(@item), :class=>"fbbutton" %>
				<%= link_to("Delete", {:action => "destroy", :id => @item },
						:confirm => "Are you sure you want to delete this item?", 
						:method => :delete, :class=>"fbbutton") %>
			<% end %>
		</div>
	</div>

</div>

<h1>Images:</h1>
<% if @has_photos %>
	<% @photos.each do |photo| %>
  	<p>
    	<%= link_to image_tag(photo.public_filename(:thumb)), photo_path(photo) %>
    	<%= link_to 'Delete', photo, :confirm => 'Are you sure?', :method => :delete %>
  	</p>
	<% end %>
<% else %>
	No Photos
<% end %>

<div class="clear"></div>
<br/><br/>
<div class="fbcontentdivider"/>

<!-- Comments -->
<div>
	<h3 class="fbbluebox">
		Comments
	</h3>
	<div>		<!-- Add New Comment -->
		<%= render :partial => "comments/form" %>
	<div>

	<br/>
	<% if @item.has_comments? %>		<!-- Display Existing Comments -->
		<div class="comments">
			<div id="comment_posts">
				<%= render  :partial => "comments/comment",	:collection => @item.comments %>
			</div>
	  </div>
	<% end %>
</div>

<!--
<script>
	var attachment = {'media':[{'type':'image',
										'src':'http://beauhouse.ca/images/hello_world.jpg',
										'href':'http://beauhouse.ca/images/hello_world.jpg'}]};
	Facebook.streamPublish("Hello world.  Check out my item I just posted...", attachment, null, null, "Encourage your friends to check out your item")
</script>
-->