<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<fb:header />  
	<%= stylesheet_link_tag 'style', :cache => true %>
	<%= stylesheet_link_tag 'base' %>
</head>
<div>
	<% fb_tabs do %>
		<%= fb_tab_item "Home", items_path %>
		<%= fb_tab_item "My Items", my_items_items_path %>
		<%= fb_tab_item "Post New Item", new_item_path %>
		<%= fb_tab_item "Invite Friends", items_path, :align=>"right" %>
	<% end %>
</div>

<div class="fbbody">
	<div id="container">
		<div id="main">
			<% if flash[:notice] %><div id="notice"><%= flash[:notice] %></div><% end %>
			<% if flash[:warning] %><div id="warning"><%= flash[:warning] %></div><% end %>
			<%= yield :layout %>
		</div>
	</div>
	<!-- 
		Include your js at the bottom for faster 
		loading. Thanks YSlow!
	-->
	<%= javascript_include_tag 'jquery' %>
	<%= javascript_include_tag 'jrails' %>
	<%= javascript_include_tag 'application' %>
		<%= yield :js %>
</div>

