<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
	<%= stylesheet_link_tag 'scaffold', :cache => true %>
	<%= stylesheet_link_tag 'style', :cache => true %>
</head>

<fb:header />  

<%= fb_add_profile_section %>
<br />
<%= facebook_messages %>
<div>
	<% fb_tabs do %>
		<%= fb_tab_item "Home", items_path %>
		<%= fb_tab_item "My Items", my_items_items_path %>
		<%= fb_tab_item "Post New Item", new_item_path %>
		<%= fb_tab_item "Invite Friends", new_invitation_path, :align=>"right" %>
	<% end %>
	<br/>
</div>
	
<div>
	<%= yield %>
</div>
